<form id="new-tweet" class="button-panel" action="#" method="post">
    {{#input}}
        <label>{{title}}</label><input id="{{id}}" name="{{name}}" type="{{type}}" />
    {{/input}}
    <button>post message</button>
    <div class="error"></div>
</form>


